
.content {
    padding: 0 5%;
}

.map {
    height: 50vh;
    margin: 0 0 5% 0;
}

.hidden-elements {
    display: none;
}

.hide-column {
    display: none;
}

#dvData {
    overflow: scroll;
}

.map-selected {
    background-color: rgb(223, 223, 223);
}

.basic-map, .dark-map, .imagery-map {
    cursor: pointer;
}

.basic-map:hover, .dark-map:hover, .imagery-map:hover {
    background-color: rgb(223, 223, 223);
}

.basic-map:active, .dark-map:active, .imagery-map:active {
    background-color: rgb(223, 223, 223);
}

@media only screen and (min-width: 768px) {
    .map {
        height: 80vh;
    }
}